$buttonBgColor:#0F5C66;
$colorButton:#E0E0E0;
button{
    padding:0.4rem 2rem;
    background:$buttonBgColor;
    color: #E0E0E0;
    border: 0;
    cursor: pointer;
}

button i{
    font-size: 1rem;
}

select{
    //width: 20%;
}

select,
input{
    padding:0.4rem;
}
input{
    text-align:right;
}

    .container{
    display: flex;
    align-items:flex-end;
    gap:1rem;
    
    .currency_box{
        display: flex;
        flex-direction: column;
    }

    .box_button{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;

    }
}


